
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>registartionForm</title>
   
</head>
<body>
    <h1>Registration Form</h1>
    <div> 
    </div>
</body>
</html>
